{% trans_default_domain 'email' %}

{% extends "email/base.html.twig" %}

{% set pre_header_text = 'user.password_reset.pre_header' %}

{% block hero %}
{% endblock %}

{% block greeting %}
    <h1>{{ 'user.password_reset.greeting'|trans({'%username%': username}) }}</h1>
{% endblock %}

{% block content %}
    {{ 'user.password_reset.line_1'|trans({'%username%': username})|markdown_to_html }}

    <table align="center" role="presentation" cellspacing="0" cellpadding="0" border="0"
           style="margin: auto; margin-top: 30px !important; margin-bottom: 40px !important;">
        <tr>
            <td class="button-td">
                <a class="button-a"
                   href="{{ reset_url }}">{{ 'user.password_reset.cta'|trans }}</a>
            </td>
        </tr>
    </table>

    <p>{{ 'user.password_reset.line_2'|trans({ '%reset_url%': reset_url })|markdown_to_html }}</p>
    <p>{{ 'user.password_reset.line_3'|trans|markdown_to_html }}</p>
{% endblock %}
